<!DOCTYPE html>
<html>
<head>
	<title>Saas</title>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class='container'>
		<div class="navbar-header">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
			 <%= link_to 'SaaS', root_path, class: 'navbar-brand' %>
		</div>
	    <div class="collapse navbar-collapse" id="main-nav-collapse">
	      <ul class="nav navbar-nav navbar-right">
	        <li><%= link_to "About", about_path %></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	</div>
	</nav>	
    <%= yield %>
</body>
</html>
